.footer-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container{
    display: flex;
    align-items: center;
}

.footer-title *,.footer-title{
    font-size: 1.6rem;
    margin: 0;
}

.link-footer{
    text-decoration: none;
    color:inherit;
}
 
.info-list{
    list-style-type: none;
    padding: 0;
}

.info-list *{
    margin-top: 1rem;
    text-align: center;
}

.footer{
    background-color: #EAF2FD;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.form-title{
    margin: 0;
    font-size: 1.3rem;
}

.form{
    padding: 1rem;
    width: 100%;
}

.form-div{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1rem;
    
}

.fot-btn{
    margin-top: 1rem;
}

.dev-info-p{
    text-align: center;
}

@media screen and (min-width:768px) and (max-width:1023px)  {
    .footer{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom: 3.5rem ;position: relative;
    }

    .footer-div:first-of-type{
        position: absolute;
        left: 2rem;
        top: 1rem;
    }

    .footer-div:nth-child(2){
        position: relative;
        top: 4rem;
        left: 2rem; 
    }

    .info-list li{
        text-align: inherit;
        margin-bottom: 2rem;
    }

    .footer-div:nth-child(3){
        width: 60%;
        padding: 1rem;
    }
}

@media screen and (min-width:1024px) {
    .footer{
        flex-direction: row;
        justify-content: space-around;
        padding: 4rem 4.3rem 4rem 4.4rem;
    }

    .footer-div{
        display: flex;
        align-items: flex-start;
    }

    .footer-div:first-of-type{
        width: 25%;
    }

    .footer-div:nth-child(2){
        width: 25%;
    }

    .footer-div:nth-child(3){
        width: 50%
    }

    .info-list *{
        text-align: inherit;
        margin-bottom: 1.6rem;
    }
}