.product-gallery{
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem;
}

.gallery-title-div, .card-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery-title-div{
    margin: 0  .8rem 0 1rem ;
    box-sizing: border-box;
}


.card-container{
    flex-wrap: wrap;
    height: 500px;
    overflow: hidden;
}

.card{
    display: flex;
    flex-direction: column;
    width:43%;
    height: 275px;
    margin: auto .6rem .5rem;
}

.img-div{
    width: 100%;
    height: 154px;
   }

.card *:not(.img-div){
    margin: 5px;
}

.gallery-title{
    font-size: 1.5rem;
}

@media screen and (min-width: 768px){
    .card-container{
        flex-wrap: nowrap;
        height: inherit;
    }

}

@media screen and (min-width: 1024px) {
    .product-gallery{
        padding: 1rem 5.3rem 1rem 7rem;
        width: 85%;
    }

.card{
    width:170px;
    height: 250px;
    margin: auto 1.2rem 1.25rem;
} 


}